<ion-header>
  <ion-toolbar>
    <ion-title>inscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list style="text-align:center">
    <ion-input placeholder="Nom"></ion-input>
    <ion-input placeholder="Prénom"></ion-input>
    <ion-input placeholder="Email"></ion-input>
    <ion-input type="Date"></ion-input>
    <ion-input type="password" placeholder="Mot de passe"></ion-input>
    <ion-input type="password" placeholder="Confirmez le mot de passe"></ion-input>
    <ion-button>S'inscrire</ion-button>
  </ion-list>
</ion-content>
