<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Composants
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Composants</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-list *ngFor="let article of articles">
      <ion-card (click)="getArticle(article.id)">
            <ion-card-header>
                <ion-card-title>
                    <ion-label>
                        {{article.nom}}
                    </ion-label>
                    <ion-label style="float: right;">
                        {{article.prix}}€
                    </ion-label>
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-label>
                    {{article.description}}
                </ion-label>
            </ion-card-content>
        </ion-card>
    </ion-list>
</ion-content>
