<ion-header>
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<!-- Formulaire de connexion -->
  <ion-item >
    <ion-label color="blue">Email :</ion-label>
    <ion-input color="blue" type="mail" placeholder="Adresse email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="#000000">Mot de passe :</ion-label>
    <ion-input color="#000000" type="password" placeholder="Mot de passe"></ion-input>
  </ion-item>
<!-- Bouton mdp oublié -->
  <ion-item lines="none">
    <ion-button color="white" slot="end" fill="clear">Mot de passe oublié ?</ion-button>
  </ion-item>
</ion-content>
