<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
<!--      <ion-icon name="document-text-outline" slot="start"></ion-icon>-->
      <ion-label>
        Description : <br>{{description}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Price : <br>{{price}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Score : <br>{{score}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-button>Ajouter aux favoris</ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
